.user {
	padding: 0 15% 0 15%;
	&__title {
		display: block;
		@include boxSize(100%, 22px);
		font-size: 32px;
		line-height: 22px;
		font-family: $mainFontMedium,  $spareFonts;
	}

	&__panel {
		@include boxSize(100%, 50px);
		display: flex;
		justify-content: flex-end;
		align-items: center;

		&__btn-wrapper {
			@include boxSize(112px, 32px);
			display: flex;
			background-color: $createButtonBackgroundColor;
			border-radius: 4px;
			font-size: 14px;
			color: $createButtonTextColor;
			font-family: $mainFontRegular, $spareFonts;
			cursor: pointer;

			p {
				@include boxSize(32px, 100%);
				padding: 2px 0 0 15px;
				.anticon  {
					width: auto;
					height: auto;
					margin: 0;
					padding: 0;
				}
			}

			span {
				@include boxSize(80px, 100%);
				display: block;
				background-color: transparent;
				padding: 0 15px 0 0;
				line-height: 32px;
			}
		}
		&__btn-wrapper:hover {
			background-color: $createButtonBackgroundColorHover;
		}
	}

	&__table {
		.ant-table-content {
			.ant-table-tbody {
				font-family: $mainFontRegular, $spareFonts;
			}
		}
		thead {
			tr {
				.ant-table-cell {
					font-family: $mainFontMedium, $spareFonts;
					font-size: 14px;
				}
			}
		}
	}
}