.user {
	padding: 0 15% 0 15%;
	&__title {
		display: block;
		@include boxSize(100%, 22px);
		font-size: 32px;
		line-height: 22px;
		font-family: $mainFontMedium,  $spareFonts;
	}

	&__panel {
		@include boxSize(100%, 50px);
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__table {
		.ant-table-content {
			.ant-table-tbody {
				font-family: $mainFontRegular, $spareFonts;
			}
		}
		thead {
			tr {
				.ant-table-cell {
					font-family: $mainFontMedium, $spareFonts;
					font-size: 14px;
				}
			}
		}
	}
}