.create-canvas-template-modal {
  &__up {
    @include boxSize(100%, 200px);
    @include flexCenter();
    margin: 0 0 10px 0;

    .left-in-up-column {
      @include boxSize(275px, 100%);
      background-color: #acacac;
    }

    .empty-review {
      @include boxSize(250px, 100%);
      @include flexCenter();
      border: 2px solid rgb(201, 201, 201);
      
      p {
        font-family: $mainFontMedium, $spareFonts;
        font-size: 20px;
        margin: 0;
      }
    }

    .right-in-up-column {
      @include boxSize(275px, 100%);
      background-color: #acacac;
    }
  }

  &__low {
    @include boxSize(100%, auto);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div:not(.add-btn) {
      @include boxSize(250px, auto);
      @include flexCenter();
      background-color: rgb(201, 201, 201);
      margin: 10px 10px 10px 10px;
      padding: 5px 10px;
      flex-wrap: wrap;

      input, textarea {
        border: 1px solid $borderColor;
        border-radius: 4px;
        padding: 0 10px;
        font-family: $mainFontMedium, $spareFonts;
        margin: 3px 0;
        resize: none;
      }
      input {
        @include boxSize(100%, 35px);
      }
      textarea {
        @include boxSize(100%, 100px);
      }
    }
    .add-btn {
      @include boxSize(250px, auto);
      @include flexCenter();
      margin: 10px 10px 10px 10px;

      button {
        @include boxSize(100px, 100px);
        background-color: rgb(201, 201, 201);
        border-radius: 4px;
        font-family: $mainFontMedium, $spareFonts;
        font-size: 17px;
        cursor: pointer;
      }
    }
  }
}

.review {
  @include boxSize(200px, 100%);
  margin: 0;
  display: grid;
  div {
    @include boxSize(auto, auto);
    border: 1px solid rgb(150, 150, 150);
    textarea {
      @include boxSize(auto, auto);
      resize: none;
    }
  }
}