@mixin boxSize($width, $height) {
	width: $width;
	height: $height;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin defaultInputStyle() {
	@include boxSize(250px, 40px);
	border: 1px solid $borderColor;
	border-radius: 4px;
	padding: 0 10px;
	font-family: $mainFontMedium, $spareFonts;
}