.canvas {
  padding: 0 10% 0 10%;
  &__header {
    @include boxSize(100%, 100px);
    &__up {
      @include boxSize(100%, 50px);
      display: flex;
      align-items: center;
      position: relative;

      .back-arrow {
        display: block;
        @include boxSize(50px, 100%);
        @include flexCenter();
        font-size: 26px;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 10px 0 0;
      }
      .back-arrow:hover {
        background-color: $arrowBackBackgroundColorHover;
      }
      .title {
        font-family: $mainFontBold, $spareFonts;
        font-size: 32px;
      }
      .type {
        font-size: 20px;
        font-family: $mainFontRegular, $spareFonts;
        color: $canvasTypeTextColor;
        margin: 0 0 0 10px;
        padding: 6px 0 0 0;
      }
      button:not(.back-arrow) {
        position: absolute;
        right: 0;
      }
    }

    &__low {
      margin: 10px 0 0 0;
      position: relative;

      input {
        @include defaultInputStyle();
      }
      &__buttons {
        position: absolute;
        top: 0;
        right: 0;
        button {
          @include defaultActionButtonInTable();
        }
      }
    }
  }

  &__body {
    @include boxSize(100%, 100vh);
    display: grid;
    margin: 30px 0 0 0;

    div {
      padding: 20px 10px 20px 10px;
      border: 1px solid $canvasBorderColor;
      .canvas__body__title {
        @include boxSize(100%, 40px);
        font-size: 22px;
        font-family: $mainFontBold, $spareFonts;
        text-align: center;
        line-height: 24px;
      }

      .canvas__body__content {
        @include boxSize(100%, calc(100% - 50px));
        font-size: 15px;
        font-family: $mainFontRegular, $spareFonts;
        resize: none;
      }
    }
  }
}
